:root {
  --highlight: #da2129;
  --secondary: #000;
}

html: {
  padding: 1em;
}

html,
body {
  margin: 0;
  font-size: 20px;
  line-height: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

main,
header,
footer {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 1.5em 1.5em;
}
header {
  padding-bottom: 0px;
}

a,
a:active,
a:hover {
  font-weight: 600;
  text-decoration: underline;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Fruktur";
  line-height: 1.4;
  margin-bottom: 0.5em;
}

h1 em {
  font-style: normal;
  font-weight: 700;
  color: var(--highlight);
}

h2 {
  line-height: 1;
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.03em;
  font-size: 0.6;
  font-family: "Fruktur";
}

p {
  font-size: 0.9em;
  line-height: 1.4;
}

header p {
  color: black;
  font-size: 1.1em;
  line-height: 1.55;
}

ul {
  column-count: 1;
  column-gap: 3em;
}

li {
  padding-bottom: 1.5em;
  -webkit-column-break-inside: avoid;
  margin-bottom: 2em;
}
li h3 {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
li h3 time {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8333em;
}

li p {
  margin-top: 0;
}

/* Footer */

footer {
  margin-bottom: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  background-image: url(images/bg-pattern.jpg);
  background-size: 500px 500px;
}

.image {
  width: 100%;
  width: 80px;
  height: 80px;
  border: 0.25rem solid #eee;
}

/* Large mobile devices */
@media only screen and (min-width: 481px) {
  ul {
    column-count: 1;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) {
  body {
    padding: 2em 2em;
  }

  main,
  header,
  footer {
    padding: 2em;
  }
  header {
    padding-bottom: 0em;
  }

  h1 {
    font-size: 2.5em;
  }

  ul {
    column-count: 2;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  ul {
    column-count: 3;
  }
}

/* Full screen desktop */
@media only screen and (min-width: 1240px) {
  ul {
    column-count: 3;
  }
}
